:root {
  --white:        #FFFFFF;
  --light-gray:   #C5C8C6;
  --dark-gray:    #707880;
  --darker-gray:  #282A2E;
  --light-red:    #CC6666;
  --dark-red:     #A54242;
  --light-orange: #DE935F;
  --dark-orange:  #9C5A29;
  --light-yellow: #F0C674;
  --dark-yellow:  #A17E2F;
  --light-green:  #B5BD68;
  --dark-green:   #8C9440;
  --light-patina: #8ABEB7;
  --dark-patina:  #5E8D87;
  --light-blue:   #81A2BE;
  --dark-blue:    #5F819D;
  --light-purple: #B294BB;
  --dark-purple:  #85678F;
}
body {
  font-family: Arial, Helvetica, sans-serif, 'Lucida Sans';
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
code {
  background-color: var(--light-gray);
  border-radius: 0.3em;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  padding: 0 0.1em;
}
form {
  margin: 1em;
}
li {
  padding: 1em;
  margin: 1em;
  list-style-type: none;
  border-radius: 1em;
  background-color: var(--dark-blue);
}
ul {
  margin: 1em 0 0 0;
  padding: 0;
}

.item {
  background-color: var(--light-patina);
  margin: 1em;
  padding: 1em;
  border-radius: 0.6em;
}
.disabled {
  pointer-events: none; /* No cursor */
  background-color: var(--light-gray); /* Gray background */
}
.h320 {
  height: 320px;
}
.w100p {
  width: 100%
}
.label-for-input {
  text-align: right;
  font-weight: bold;
}
.custom-css-js-button {
  border: 1px solid var(--darker-gray);
  border-radius: 0.3em;
  font-size: 1em;
  padding: 0.2em 0.3em;
}
.grid-2-cols {
  display: grid;
  grid-template-columns: auto auto;
}
.grid-2-cols > * {
  padding: 0.2em 0em; /* top&bot left&right */
}

/* Divide all by 30 */
.switch {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 1.1em;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--dark-blue);
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 0.9em;
  width: 0.9em;
  left: 0.1em;
  bottom: 0.1em;
  background-color: var(--white);
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: var(--dark-yellow);
}
input:focus + .slider {
  box-shadow: 0 0 0.1em var(--dark-yellow);
}
input:checked + .slider:before {
  -webkit-transform: translateX(0.9em);
  -ms-transform: translateX(0.9em);
  transform: translateX(0.9em);
}
/* Rounded sliders */
.slider.round {
  border-radius: 1.1em;
}
.slider.round:before {
  border-radius: 50%;
}

.css-1qk2ya5-TabList [role="tab"] {
  font-weight: bold;
}